<tr class="border p-3 text-center odd:bg-slate-100">
     <td class="border p-3 w-[10%]"><%= pos %></td>
     <td class="border p-3 text-left w-[40%]"><%= item.text %></td>
     <% if(item.status=='0') { %>
     <td class="border p-3 bg-red-400 text-xs font-bold w-[10%]">NOT DONE</td>
     <% } else { %>
     <td class="border p-3 bg-green-400 text-xs font-bold w-[10%]">DONE</td>
     <% } %>
     <td class="border p-3 w-[25%]"><%= item.comment %></td>
     <td class="border p-3 font-bold text-xs w-[5%]"><%= new Date(item.updated_at).toLocaleDateString('in') %></td>
     <% if(user.role_id === 3) { %>
     <td 
           class="border p-3 w-[10%] bg-green-700 text-white cursor-pointer"
           hx-post="/api/edit-table"
           hx-target="closest tr"
           hx-swap="outerHTML"
           hx-vals='{ "id": "<%= item.id %>", "text": "<%= item.text %>", "status": "<%= item.status %>", "comment": "<%= item.comment %>", "pos":<%=pos%> }'
      >
      Edit
     </td>
     <% } %>
</tr>
